@model GenesisBlogTakeTwo.Models.BlogPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="Updated" />
            <input type="hidden" asp-for="IsDeleted" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control" rows=4></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input type="hidden" asp-for="Content" />
                <div id="quillEditor">
                    @Html.Raw(Model.Content)
                </div>
                
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BlogPostState" class="control-label"></label>
                <select asp-for="BlogPostState" asp-items="ViewBag.BlogPostStatesList" class="form-control"></select>
                <span asp-validation-for="BlogPostState" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                            onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>                
            </div>

            <div class="form-group">
                <img id="contactImage" class="img-fluid img-thumbnail mt-2" style="width:120px;height:120px" src="https://cdn.icon-icons.com/icons2/233/PNG/512/Contacts_26253.png">
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.querySelector("form").addEventListener("submit", function() {
            document.getElementById("Content").value = quill.container.firstChild.innerHTML;
        })
    </script>
}
