@using GenesisBlogTakeTwo.Services
@model IEnumerable<BlogPost>

@{
    ViewData["Title"] = "Genesis Blog";
}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            @foreach (var blogPost in Model)
            {
                <!-- Post preview -->
                <div class="post-preview">
                    <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                        
                        <h2 class="post-title">@blogPost.Title</h2>
                        <h3 class="post-subtitle">@blogPost.Abstract</h3>
                    </a>
                    <p class="post-meta">
                        Posted by <a href="">Nelson TheDev</a>
                        on @blogPost.Created.ToString("MMMM dd, yyy")
                    </p>
                </div>
                <!-- Divider -->
                <hr class="my-4" />
            }
        </div>
    </div>
</div>
