/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

.btn-logout {
    font-size: 0.75rem;
}

#quillEditor {
    height: 50em;
}

#blogDropdownMenuButton {
    background-color: blue;
    z-index:1001;
}